.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
  }

  .registerChargingstation {
    background-image: 
    url("../public/Images/bg.jpg");
  background-Position : 'center';
  background-Size : 'cover';
  background-Repeat: 'no-repeat';
  }

  .customersOperations {
    background-image: 
    url("../public/Images/4.jpg");
    background-size: cover;
    height: 600px;
    width: 'fluid';
    background-repeat: no-repeat;
   
  }
  .chargingstationsOperation {
    background-image: 
    url("../public/Images/station.jpg");
    background-size: cover;
    height: 600px;
    width: 'fluid';
    background-repeat: no-repeat;
  }
  
  .adminOperations {
    background-image: 
    url("../public/Images/admin.jpg");
    background-size: cover;
    height: 680px;
    width: 'fluid';
    background-repeat: no-repeat;
  }

  .homePage{
    background-image: 
    url("../public/Images/home.jpg");
    background-size: cover;
    height: 680px;
    width: 'fluid';
    background-repeat: no-repeat;
  }
  